

@import '../common/reset.less';
@import '../common/common.less';



@color:red;
@imageDirPath:'../../../images/';
body{
    padding-top: 40px;
}
.top-banner{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 40px;
    background: #fff;
    z-index: 9999;
    a{
        margin: 0 auto;
        display: block;
        width: 960px;
        height: 40px;
    }
}

header{
    background: url("@{imageDirPath}wg_pattern_top.jpg") repeat-x;
    .fixed-width{
        width: 955px;
        margin:0 auto;
    }
    .logo{
        height: 78px;
        padding-top: 24px;
    }
    .nav{
        padding: 8px 20px 0 20px;
        height: 50px;
        border-radius: 5px 5px 0 0;
        border:1px solid #454c51;
        background: url("@{imageDirPath}bck_nav.png") repeat-x;
        li{
            margin:14px 22px 0 5px;
            display: inline-block;
            a{
                color:#fff;
            }
        }
    }
}
#example-list{
    color:@color;
}
